* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --font-lora: 'Lora', serif;
  --font-satoshi: 'Satoshi', sans-serif;

  --weight-medium: 400;
  --weight-bold: 700;

  --extra-large-size: 2rem;
  --extra-large-line-height: 36px;
  --base-size: 1rem;
  --base-line-height: 20px;
  --caption-size: 14px;
  --caption-line-height: 20px;

  --letter-spacing-wide: 0.15em;

  --green-700: #1C2415;
  --placeholder: #ffffff6c;
  --gold-50: #ECE7DA;
  --gold-200: #BCAD7E;
  --gold-300: #AB985E;
  --gold-700: #3C3B16;

  --gradient-primary: linear-gradient(45deg, #ffffff1b, #ffffff08);
  --gradient-secondary: linear-gradient(45deg, #ab985e7b, #ab985e4b);
  --gradient-card: linear-gradient(45deg, #3c3b169b, #3c3b162b);

  --stroke-primary: #ffffff2c;
  --stroke-secondary: #ab985e61;

  --background-blur: 20px;
  --drop-shadow: 0 8px 32px rgba(0, 0, 0, 0.08);
}

body {
  background: var(--green-700) url(./src/img/background.png) no-repeat center center fixed;
  background-size: cover;
}

header {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 7.5rem;
  padding: 1rem 10rem;
  gap: 1rem;
  border-bottom: 1px solid var(--gold-700);
}

.navigation {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 1rem;
}

.logo {
  width: 168px;
  height: auto;
}

.social {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 1rem;
}

.link-button {
  text-decoration: none;
  display: flex;
  padding: 14px 20px;
  gap: .5rem;
  border-radius: 8px;
  transition: ease-out 100ms;
}

.link-button:hover {
  text-decoration: underline;
  color: var(--gold-200);
}

.social .link-button::after {
  display: flex;
  justify-content: center;
  align-items: center;
  content: url('./src/icons/square-arrow-out-up-right.svg');
}

.search {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
  gap: 1rem;
}

.input-wrapper {
  border-radius: 8px;
  border: 1px solid var(--stroke-primary);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 30rem;
  padding: 0 .5rem 0 0;
  gap: 1rem;
  transition: ease-out 100ms;
}

.input-wrapper:focus-within {
  border-color: var(--gold-300);
}

#searchInput {
  display: flex;
  border: none;
  outline: none;
  background: transparent;
  padding: 1rem 1.25rem;
  width: 100%;
  color: var(--gold-50);
}

#searchInput::placeholder {
  color: var(--placeholder);
}

.button {
  content: url('./src/icons/search.svg');
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 4px;
  border: 1px solid var(--stroke-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  padding: .5rem;
  gap: .5rem;
  transition: ease-out 100ms;
}

.button:hover {
  background-color: var(--gold-300);
}

.card-wrap {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 0 10rem;
  gap: 4rem 2rem;
  margin-bottom: 4rem;
}

.card-hidden {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: auto;
  width: 21rem;
  transition: transform 0.1s ease, box-shadow 0.3s ease;
}

.card-hidden:hover {
  transform: scale(1.05);
}

.card-preview {
  z-index: 2;
  display: none;
  flex-direction: column;
  border-radius: 1rem;
  border: 1px solid var(--stroke-secondary);
  height: auto;
  width: 30rem;
  padding: 1rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.overlay {
  z-index: 1;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.image-container {
  position: relative;
  width: 100%;
  padding-top: 75%;
  overflow: hidden;
  margin-bottom: 12px;
}

.image {
  border-radius: 8px;
  border: 1px solid var(--stroke-secondary);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.labels {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 12px;
}

.names {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: .5rem;
}

.information {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: .5rem;
}

.button-wiki {
  content: url('./src/vectors/Wikipedia.svg');
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 4px;
  border: 1px solid var(--stroke-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  padding: 6px;
  gap: .5rem;
  transition: ease-out 100ms;
}

.button-wiki:hover {
  background-color: var(--gold-300);
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 10rem;
  gap: 1rem;
  border-top: 1px solid var(--gold-700);
}

footer .link-button::before {
  content: url('./src/icons/mail.svg');
}

.all-rights {
  display: flex;
  padding: 14px 20px;
  gap: .5rem;
  border-radius: 8px;
}

.font-xl {
  font-family: var(--font-lora);
  font-weight: var(--weight-medium);
  font-size: var(--extra-large-size);
  line-height: var(--extra-large-line-height);
  color: var(--gold-50);
}

.font-base {
  font-family: var(--font-satoshi);
  font-weight: var(--weight-medium);
  font-size: var(--base-size);
  line-height: var(--base-line-height);
  color: var(--placeholder);
}

.font-caption {
  font-family: var(--font-satoshi);
  font-weight: var(--weight-medium);
  font-size: var(--caption-size);
  line-height: var(--caption-line-height);
  color: var(--gold-50);
}

.font-caption-w {
  font-family: var(--font-satoshi);
  font-weight: var(--weight-bold);
  font-size: var(--caption-size);
  line-height: var(--caption-line-height);
  letter-spacing: var(--letter-spacing-wide);
  text-transform: uppercase;
  color: var(--gold-300);
}

.glass-primary {
  background: var(--gradient-primary);
  backdrop-filter: blur(var(--background-blur));
  box-shadow: var(--drop-shadow);
}

.glass-secundary {
  background: var(--gradient-secondary);
  backdrop-filter: blur(var(--background-blur));
  box-shadow: var(--drop-shadow);
}

.glass-card {
  background: var(--gradient-card);
  backdrop-filter: blur(var(--background-blur));
  box-shadow: var(--drop-shadow);
}

@media (max-width: 450px) {
  header {
    height: 4rem;
    padding: 1rem 1rem;
  }
  
  .navigation {
    gap: 0rem;
  }
  
  .logo {
    width: 92px;
  }
  
  .social {
    gap: 0rem;
  }
  
  .link-button {
    padding: 14px 14px;
  }

  .search {
    padding: 2rem 1rem;
  }

  .card-wrap {
    padding: 0 1rem;
    gap: 2rem 2rem;
    margin-bottom: 2rem;
  }

  .card-preview {
    width: 90%;
  }

  footer {
    padding: .5rem 1rem;
  }

  .all-rights {
    padding: 14px 14px;
  }
}